altair
altgraph
amadeus
annotated-types
anyio
attrs
beautifulsoup4
blinker
bs4
cached-property
cachetools
certifi
cffi
charset-normalizer
chevron
click
colorama
colour
contourpy
cycler
et_xmlfile
exceptiongroup
Flask
fonttools
frozendict
genanki
gitdb
GitPython
glcontext
h11
html5lib
httpcore
httpx
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
keyboard
kiwisolver
lxml
manimlib
MarkupSafe
matplotlib
narwhals
networkx
numpy
ollama
opencv-python
openpyxl
outcome
packaging
pandas
pefile
pillow
plotly
progressbar
protobuf
pyarrow
pycairo
pycparser
pydantic
pydantic_core
pydeck
pydub
pygame
pygame-menu
pygame-textinput
pyglet
pyglm
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyperclip
pyreadline
PySocks
python-dateutil
python-dotenv
pytz
pywin32-ctypes
PyYAML
pyzmq
referencing
requests
rpds-py
scipy
screeninfo
selenium
six
skia-pathops
smmap
sniffio
sortedcontainers
soupsieve
srt
streamlit
svgelements
tenacity
toml
tornado
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
watchdog
webdriver-manager
webencodings
websocket-client
Werkzeug
wsproto
